<!DOCTYPE html>
<html>
  <head>
    <title>Fabri gato</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Juampi el mas pijudo</h1>
    <p>aca tenes la pagina rompe huevo</p>
  </body>
</html>
